body {
    background-color: #F7F3EB;
    /*margin-left: 20px;*/
    font-family: "Poppins", sans-serif;
    line-height: 170%;
    padding: 58px 29px /*58px 29px*/;
    text-align: justify;
  }

h2 {
  padding-top: 29px;
}

h1, h2, h4 {
  text-align: left;
}

p5 {
  font-family: "Noto Color Emoji", sans-serif;
}

a:link {
  /*color: #AEA79C;*/
  color: #8F7763;
}

/* visited link */
a:visited {
  color: #AEA79C;
}

/* mouse over link */
a:hover {
  color: #AEA79C;
}

/* selected link */
a:active {
  color: black;
}


img {
    border-radius: 2%;
    width: 100%;
  }

  .box  {
    background-color: #EFEBE4;
    border-radius: 2%;
    padding: 16px 29px 16px 29px;
    text-align: left;
}

li {
  text-align: left;
}


@media (min-width: 320px) {
  .videos-4 {display: none}
}

@media (min-width: 620px) {
  img {width:58%}
  }

@media (min-width: 820px) {
  .videos-2a {display: none}
  .videos-2b {display: none}
  .videos-4 {display: block}
  }


@media (min-width: 1024px) {
    img {width:29%}
    body {padding: 100px 200px 100px 200px}
    }



